html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4, p {
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.container::after {
  position: fixed;
  width: 400px;
  height: calc(1000px + 50vh);
  top: -130px;
  content: '';
  background: rgba(102 51 153);
  opacity: 0.1;
  transform: rotate(45deg);
  transform-origin: center;
  left: 10vw;
  z-index: -1;
}